//colors
$c-primary: #0f33ff;
$c-light: #ecefff;
$c-secondary: #8e929f;
$c-white: #ffffff;

.nav__signIn {
  letter-spacing: 0px;
  border: 1px solid #ffffff;
  opacity: 1;
  text-align: left;
  width: 100%;
  padding: 58px 1222px 0px 0px;
  cursor: pointer;
}
