//colors
$c-primary: #0f33ff;
$c-light: #ecefff;
$c-secondary: #8e929f;
$c-white: #ffffff;

.right {
  padding: 24px 0;
  width: 100%;

  &__header {
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin: 0 auto;
    margin-bottom: 32px;
    width: 90%;

    @media (min-width: 992px) {
      margin-left: 30px;
      margin-bottom: 26px;
    }
  }

  &__box {
    width: 90%;
    background-color: $c-white;
    border-radius: 6px;
    padding-top: 32px;
    margin: 0 auto;

    @media (min-width: 992px) {
      width: 434px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    @media (min-width: 992px) {
      margin-left: 30px;
    }
  }

  &__input {
    width: 95%;
    height: 56px;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      width: 374px;
    }
  }

  &__button {
    height: 62px;
    width: 283px;
    margin-bottom: 24px;
    margin-top: 16px;
  }

  @media (min-width: 992px) {
    max-width: 48%;
    padding: 175px 0;
  }
}
