//colors
$c-primary: #0f33ff;
$c-light: #ecefff;
$c-secondary: #8e929f;
$c-white: #ffffff;

.main {
  background-image: url(./../../images/photos/Video_screenshot_Mirek.png);
  background-size: cover;
  background-position: center center;
  padding-bottom: 48px;
  z-index: -1;
  width: 100%;

  &__content {
    @media (min-width: 992px) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }
  }
}
