//colors
$c-primary: #0f33ff;
$c-light: #ecefff;
$c-secondary: #8e929f;
$c-white: #ffffff;

.about {
  padding: 0 24px;

  &__img {
    display: none;

    @media (min-width: 992px) {
      display: block;
      position: absolute;
      right: 286px;
      bottom: 431px;
      width: 593px;
    }

    &-computer {
      width: 100%;
    }
  }

  &__team {
    text-transform: uppercase;
    font-size: 16px;
    color: $c-primary;
    font-weight: bold;
  }

  &__header {
    font-size: 24px;

    @media (min-width: 992px) {
      font-size: 48px;
      line-height: 64px;
      max-width: 526px;
    }
  }

  &__button {
    height: 62px;
    max-width: 283px;
  }

  @media (min-width: 992px) {
    position: relative;
  }
}
