//colors
$c-primary: #0f33ff;
$c-light: #ecefff;
$c-secondary: #8e929f;
$c-white: #ffffff;

.navBar {
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 100%;
  position: fixed;

  @media (min-width: 768px) {
    align-items: center;
  }
}
