/*
Mobile Device
0 - 576 px

Medium Device
577 - 992 px

Desktop
993 - 1.300 px

Big screens
1.301+ px
*/

//colors
$c-primary: #0f33ff;
$c-light: #ecefff;
$c-secondary: #8e929f;
$c-white: #ffffff;

* {
  font-family: 'Montserrat', sans-serif;
}
