//colors
$c-primary: #0f33ff;
$c-light: #ecefff;
$c-secondary: #8e929f;
$c-white: #ffffff;

.theMenu-desktop {
  display: none;

  &__button {
    width: 180px;
    height: 44px;
  }
  @media (min-width: 992px) {
    display: flex;
    z-index: 50;
    flex-basis: 50%;
  }
}

.theMenu__menu-items--desktop {
  display: flex;
  flex-grow: 1;
  padding: 0;
  flex-basis: 100%;
}

.theMenu__menu-items {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  width: 100%;
  height: 100vh;
  background-color: black;

  @media (min-width: 992px) {
    flex-direction: row;
    top: 0;
    height: auto;
    background-color: transparent;
  }
}

.theMenu__hamburger {
  margin: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  span {
    width: 30px;
    display: block;
    margin-bottom: 6px;
    height: 4px;
    background-color: $c-white;
    transition-property: opacity transform;
    transition-duration: 0.2s;

    :nth-child(1) {
      transform: translateY(-250%);
    }

    :nth-child(3) {
      transform: translateY(250%);
    }
  }

  &--open {
    position: absolute;
    right: 10px;
    padding-bottom: 5px;

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(1) {
      transform: rotate(45deg);
      background-color: $c-white;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      background-color: $c-white;
    }
  }
}

.theMenu-mobile {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__button {
    width: 180px;
    height: 44px;
    display: flex;
    align-self: flex-end;
    margin-right: 24px;
  }
  @media (min-width: 992px) {
    display: none;
  }
}

.menu-items-desktop {
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
}
